#banner
{
    background-color: lightblue;
    margin-top: 20px;
    height : 150px;
    margin-left: 20px;
    margin-right: 20px;

}
#bannertext
{
    font-size: 70px;
    color: rgb(168, 110, 35);
    font-weight: bolder;
    font-family: "Lucida Sans Unicode";
    text-align: center;
}
#bannerdesc
{
    font-size: 40px;
    text-align: center;
    color: rgb(109, 110, 36);
    font-family: "Helvetica";
}
#img
{
    padding-top: 50px;
    width: 50%;
    padding-right: 25%;
    padding-left: 25%;
}

#imgdesc {
    font-size: 36px;
    width: auto;
    padding-right: 25%;
    padding-left: 25%;
    color: rgba(13, 228, 146, 0.664);
}
#body
{
    background-color: lightgrey;
}