
#img
{
    
    width: 100%;
    height: 800px;

}
.imgtext
{
    
    color: white;
    font-family: 'Rubik';
    font-weight: bold;
}
#tribute
{
    position: absolute;
    font-size: 60px;
    text-align: center;
    top: 100px;
    margin:auto;
    width: 100%;
}
#deathdates
{
    position: absolute;
    font-size: 60px;
    text-align: center;
   
    bottom: 400px;
    margin:auto;
    width: 30%;
}
#quote
{
    position: absolute;
    font-size: 60px;
    text-align: center;
   
    bottom: 400px;
    margin:auto;
    width: 160%;
}
.sectiontitle
{
    font-size: 40px;
    font-family: "Fjalla One";
    padding-left: 200px;
    text-decoration: none;
    color: rgb(255,255,255);
}

#songlist
{

}
#sad
{

}
#body
{
    background-color: black;
}